@using STG.ViewModels
@using STG.ViewModels.TeacherViewModel
@model FirstViewModel;

@{
    ViewData["Title"] = "Главная | STG Online";
    @using Microsoft.AspNetCore.Antiforgery
    @inject IAntiforgery antiforgery
    var tokenSet = antiforgery.GetAndStoreTokens(Context);
}




<div class="row section1">
    <div class="col-1"></div>

    <div class="col-10 col-lg-5 col-md-5 col-sm-10" id="section1_div">
        <h5>
            Профессиональная онлайн-площадка
            с персональным подходом
            к развитию
            каждого танцора
        </h5>

        <button class="btn btn-section" onclick="scroll_to_pay()">
            <font>Начать заниматься</font>
        </button>
    </div>

    <div class="col-12 d-md-none d-lg-none"></div>

    <div class="col-12 col-lg-5 col-md-5 col-sm-12 preframe">
        <div class="big_light"></div>

        <div class="div-pc">
            <img id="pc_img" class="screen" src="~/images/Screen.png" />
            <img id="pc_stand" class="pc" src="~/images/Stand.png" />
        </div>
        
        <div class="embed-responsive embed-responsive-16by9" id="section1_youtube">
            <iframe src="https://www.youtube.com/embed/Qf5pOKFsDIg?rel=0&amp;fs=0&amp;showinfo=0&autoplay=1&mute=0&rel=0&loop=1&"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
                    allowfullscreen></iframe>
        </div>
    </div>

    <div class="col-12"></div>
    <div class="col-1"></div>
    <div class="col-10 col-lg-7 col-md-10 col-xs-10 row icons">
        @foreach ((int, string) content in Model.arrayContentSection2)
        {
            <div class="col-12 col-lg-4 col-md-4 col-sm-12 preblock @(Model.arrayContentSection2.Last() == content ? "widthless" : "")">
                <div class="block">
                    <!--<div class="pre-block-bgd"></div>-->
                    <img src="/images/section0_div@(content.Item1).svg" class="img-fluid" />
                    <p>
                        @(content.Item2)
                    </p>
                </div>
            </div>
        }
    </div>



</div>

<script>
    function resizeSection1Text() {
        //return;
        if (window.screen.width < 800) return;
        var heightOfPC = document.getElementById("pc_img").offsetHeight;
        var widthOfPC = document.getElementById("pc_img").offsetWidth;
        //document.getElementById("section1_youtube").height = heightOfPC * 0.655;
        //document.getElementById("section1_youtube").height = heightOfPC * 0.89;
        //document.getElementById("section1_youtube").style.marginTop = heightOfPC * 0.5 + "px";
        //document.getElementById("section1_youtube").width = widthOfPC * 0.94;
        var widthOfStand = document.getElementById("pc_stand").offsetWidth;
        document.getElementById("pc_stand").style.marginLeft = (widthOfPC * 0.5 - widthOfStand * 0.5) + "px";

        var height = document.getElementById("section1_youtube").offsetHeight;
        var newFontSize = parseInt(height / 12, 10);
        var newLineHeight = parseInt(height / 8, 10);
        //console.log(newLineHeight);
        //document.getElementById("section1_div").getElementsByTagName("h5")[0].style.lineHeight = newLineHeight + 'px';
    }
</script>



@if (Model.teachers != null)
{
    <div class="container">
        <div class="row section3">
            <div class="col-12">
                <h3 class="first-header">
                    Хореографы
                </h3>
            </div>


            <div class="col-1 d-none d-md-block"></div>
            <div class="col-12 col-lg-10 col-md-10 col-sm-12 row">
                @foreach (TeacherLiteIndexViewModel teacher in Model.teachers)
                {
                    @if (Model.teachers.IndexOf(teacher) > 5)
                    {
                        break;
                    }
                    <!--
                    onmouseover="index_teacher(this, true)"
                    onmouseout="index_teacher(this, false)"
                           -->

                    <div class="col-12 col-lg-4 col-md-6 col-sm-6 teacher">
                        <div class="block" onclick="teacherGetModal(@teacher.id)">
                            <!--<div class="bgd-light"></div>-->
                            <img src="@teacher.posterSrc" loading="lazy" class="img-fluid" />
                            <p class="name">
                                @teacher.name
                            </p>
                        </div>
                    </div>

                }

                <div class="col-12 to_teachers">
                    <a href="/teachers">
                        <button type="button" class="btn">
                            Подробнее
                        </button>
                    </a>
                </div>
            </div>

        </div>
    </div>
}
<script>
    function index_teacher(el, isAppear) {
        if (window.screen.width < 720) {
            return;
        }
        var offset = el.getBoundingClientRect();
        var descAppear = el.getElementsByClassName("desc-appear")[0];
        descAppear.style.marginLeft = 0;
        if (isAppear) {
            descAppear.classList.add("active");
        } else {
            descAppear.classList.remove("active");
            return;
        }

        //var offsetForWorkFor = (offset.left < offset.right) ? offset.left : offset.right;

        var descAppearOffset = descAppear.getBoundingClientRect();

        if (offset.left < window.screen.width / 3) {
            descAppear.style.marginLeft = (- descAppearOffset.left / 2) + "px";
        } else {
            //var step = -descAppearOffset.left + (window.screen.width / 8);
            descAppear.style.marginLeft = (- descAppearOffset.left / 2) + "px";
        }
        //console.log(descAppearOffset.left);
    }

    function teacherGetModal(id) {
        var form = new FormData();
        form.append("id", id);

        $.ajax({
            method: 'POST',
            type: "POST",
            url: "/api/teacher/get_modal",
            data: form,
            cashe: false,
            processData: false,
            contentType: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader('@tokenSet.HeaderName', '@tokenSet.RequestToken');
            },
            error: function () {
                alert("Ошибка соединения с сервером");
            },
            success: function (html) {

                if (html["status"] == "success") {
                    var teacherModal = html["teacherModal"];
                    var modal = document.getElementById("modalTeacher").getElementsByClassName("modal-body")[0];
                    modal.getElementsByTagName("img")[0].src = teacherModal["posterSrc"];
                    modal.getElementsByClassName("teacher-name")[0].innerHTML = "";
                    if (teacherModal["instagram"] != null && typeof (teacherModal["instagram"]) != "undefined") {
                        var aInst = document.createElement("a"); aInst.target = "_blank";
                        aInst.href = teacherModal["instagram"];
                        var imgInst = document.createElement("img");
                        imgInst.className = "img-fluid";
                        imgInst.src = "/images/instagram_logo.svg";
                        aInst.appendChild(imgInst);
                        modal.getElementsByClassName("teacher-name")[0].appendChild(aInst);
                    }
                    modal.getElementsByClassName("teacher-name")[0].innerHTML += teacherModal["name"];
                    modal.getElementsByClassName("description")[0].innerHTML = teacherModal["description"];


                    const lessonsDiv = document.getElementById("modal-teacher-lessons");
                    lessonsDiv.innerHTML = "";
                    const lessons = teacherModal["lessons"];
                    if (lessons.length == 0) {
                        document.getElementById("modal-teacher-info").className = "col-12";
                    } else {
                        document.getElementById("modal-teacher-info").className = "col-12 col-lg-6 col-md-6 col-sm-12";
                    }
                    const previewVideo1Factory = new PreviewVideo1Factory();
                    var contentHtml;
                    for (var i = 0; i < lessons.length; i++) {
                        contentHtml = document.createElement("div");
                        contentHtml.className = "col-12";
                        contentHtml.appendChild(
                            previewVideo1Factory.createAndGetHtml(
                                lessons[i]["id"],
                                lessons[i]["shortName"],
                                lessons[i]["teacherName"],
                                lessons[i]["styleName"],
                                lessons[i]["video"],
                                lessons[i]["lessonTypeName"],
                                lessons[i]["levelName"],
                                lessons[i]["active"],
                                lessons[i]["posterSrc"],
                                lessons[i]["teaserSrc"]
                            )
                        );
                        lessonsDiv.appendChild(contentHtml);
                    }


                    $("#modalTeacher").modal();
                } else {
                    alert("Извините, неизвестная ошибка на сервере");
                }
            }
        });
    }
</script>


@{await Html.RenderPartialAsync("_modalTeacherPartial"); }








@if (Model.curators != null)
{
    <div class="container">
        <div class="row section4">
            <div class="col-12">
                <h3 class="first-header">
                    Наставники
                </h3>
            </div>

            <div class="col-1 d-none d-md-block"></div>
            <div class="col-12 col-lg-10 col-md-10 col-sm-12 row">
                @{int i = 0;}
                @foreach (TeacherCuratorChooseViewModel curator in Model.curators)
                {
                    @if (i++ % 2 == 0)
                    {
                        <div class="col-12 row curator">
                            <div class="col-12 col-lg-3 col-md-4 col-sm-12">
                                <div class="block poster" onclick="teacherGetModal(@curator.id)">
                                    <!--<div class="bgd-light"></div>-->
                                    <img src="~/images/section4_div@(curator.id).png" loading="lazy" class="img-fluid" />
                                    <h6>
                                        @curator.name
                                    </h6>
                                </div>
                            </div>

                            <div class="d-none col-lg-9 col-md-8 d-md-block">
                                <div class="block desc">
                                    <p>
                                        @Html.Raw(curator.shortDescription)
                                    </p>
                                    <button class="btn" onclick="teacherGetModal(@curator.id)">
                                        Подробнее
                                    </button>
                                </div>
                            </div>
                        </div>

                    }
                    else
                    {
                        <div class="col-12 row curator">
                            <div class="d-none col-lg-9 col-md-8 d-md-block">
                                <div class="block desc">
                                    <p>
                                        @Html.Raw(curator.shortDescription)
                                    </p>
                                    <button class="btn" onclick="teacherGetModal(@curator.id)">
                                        Подробнее
                                    </button>
                                </div>
                            </div>

                            <div class="col-12 col-lg-3 col-md-4 col-sm-12">
                                <div class="block poster" onclick="teacherGetModal(@curator.id)">
                                    <!--<div class="bgd-light"></div>-->
                                    <img src="~/images/section4_div@(curator.id).png" loading="lazy" class="img-fluid" />
                                    <h6>
                                        @curator.name
                                    </h6>
                                </div>
                            </div>

                        </div>
                    }
                }
            </div>

        </div>
    </div>
}




<div class="container">
    <div class="row">
        <div class="row col-12 section5">
            <div class="col-12">
                <h3 id="destination_of_scroll_to_pay" class="first-header">
                    Выбери свой путь развития
                </h3>
            </div>

            <div class="col-12 col-lg-6 col-md-12 col-sm-12 left-separator">
                <div class="col-12 block left">

                    <div class="col-12">
                        <h5>
                            Свободный доступ
                        </h5>
                    </div>
                    <div class="col-12 row desc">
                        <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                            <div class="pre-image">
                                <!--<div class="bgd"></div>-->
                                <img src="/images/section5_1_div_0.png" loading="lazy" class="img-fluid" />
                            </div>
                        </div>
                        <div class="col-12 col-lg-8 col-md-8 col-sm-12">
                            <p>На этом пути ты можешь разучивать хореографии и повышать свой уровень вместе с профессионалами</p>
                        </div>
                    </div>
                    <div class="col-12 row desc">
                        <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                            <div class="pre-image">
                                <!--<div class="bgd"></div>-->
                                <img src="/images/section5_1_div_1.png" loading="lazy" class="img-fluid section5_img1" />
                            </div>
                        </div>
                        <div class="col-12 col-lg-8 col-md-8 col-sm-12">
                            <p>Тебе будет открыто более 20 классов с хореографиями и техниками по различным стилям от наших хореографов</p>
                        </div>
                    </div>
                    <div class="col-12 choose">
                        <button type="button" class="btn" data-toggle="modal" data-target="#modalFreeAccess">
                            Подробнее
                        </button>
                    </div>


                </div>
            </div>


            <div class="col-12 col-lg-6 col-md-12 col-sm-12 right-separator">
                <div class="col-12 block left">
                    <div class="col-12">
                        <h5>
                            Эксклюзивный доступ
                        </h5>
                    </div>
                    <div class="col-12 row desc">
                        <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                            <div class="pre-image">
                                <!--<div class="bgd"></div>-->
                                <img src="/images/section5_1_div_2.png" loading="lazy" class="img-fluid section5_img2" />
                            </div>
                        </div>
                        <div class="col-12 col-lg-8 col-md-8 col-sm-12">
                            <p>На этом пути ты можешь выбрать любого из наших наставников, который составит индивидуальный план тренировок, который принесет реальный рост именно тебе</p>
                        </div>
                    </div>
                    <div class="col-12 row desc">
                        <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                            <div class="pre-image">
                                <!--<div class="bgd"></div>-->
                                <img src="/images/section5_1_div_3.png" loading="lazy" class="img-fluid" />
                            </div>
                        </div>
                        <div class="col-12 col-lg-8 col-md-8 col-sm-12">
                            <ul>
                                <li>- 2 занятия в неделю</li>
                                <li>- После просмотра 95% урока открывается доступ к следующему</li>
                                <li>- Доступ к программе на 3 месяца</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 choose">
                        <button type="button" class="btn" data-toggle="modal" data-target="#modalExcluziveAccess">
                            Подробнее
                        </button>
                    </div>


                </div>
            </div>


        </div>
    </div>
</div>




<div class="container">
    <div class="row section6">
        <div class="col-12">
            <h3 class="first-header">
                Преимущества
            </h3>
        </div>

        <!--
        <div class="col-12">
            <table border="1">
                <tr>
                    <td>
                    </td>
                    <td>
                    </td>

                    <td rowspan="7" class="td-center">

                    </td>

                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td class="td-left first">
                        <p>Топовые хореографы</p>
                    </td>
                    <td class="td-line">
                    </td>

                    <td>
                    </td>
                    <td>
                    </td>
                </tr>

                <tr>
                    <td>
                    </td>
                    <td>
                    </td>

                    <td class="td-line">
                    </td>
                    <td class="td-right">
                        <p>Брендированная локация</p>
                    </td>
                </tr>

                <tr>
                    <td class="td-left">
                        <p>Разнообразие стилей</p>
                    </td>
                    <td class="td-line">
                    </td>

                    <td>
                    </td>
                    <td>
                    </td>
                </tr>

                <tr>
                    <td>
                    </td>
                    <td>
                    </td>

                    <td class="td-line">
                    </td>
                    <td class="td-right">
                        <p>Вид спереди и сзади</p>
                    </td>
                </tr>

                <tr>
                    <td class="td-left">
                        <p>Удобный интерфейс</p>
                    </td>
                    <td class="td-line">
                    </td>

                    <td>
                    </td>
                    <td>
                    </td>
                </tr>

                <tr class="tr-empty-center">
                    <td>
                    </td>
                    <td>
                    </td>

                    <td>
                    </td>
                    <td>
                    </td>
                </tr>

            </table>
        </div>
        -->

        <div class="col-12 row">
            <div class="col-3"></div>
            <div class="col-6 d-none d-md-block" style="padding:0;">
                <!--
                <div class="custom custom-top-corner"></div>
                <p class="custom custom-top">Уровни: Beginners / Middle / Advanced</p>
                <p class="custom-line-top2"></p>
                -->

                <table>
                    <tr>
                        <td>
                            <p class="custom custom-top2">Уровни: Beginners / Middle / Advanced</p>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                            <div class="custom custom-top-corner2"></div>
                        </td>
                    </tr>
                </table>

            </div>
            <div class="col-12"></div>
            <div class="col-3 d-none d-md-block" style="padding:0;">
                <p class="custom custom-left-1">Топовые хореографы <span class="custom-line-left2"></span></p>

                <!--<div class="custom custom-left-1-line"></div>-->
                <p class="custom custom-left-2">Разнообразие стилей <span class="custom-line-left2"></span></p>
                <!--<div class="custom custom-left-2-line"></div>-->
                <p class="custom custom-left-3">Удобный интерфейс <span class="custom-line-left2"></span></p>
                <!--<div class="custom custom-left-3-line"></div>-->
            </div>

            <div class="col-12 col-lg-6 col-md-6 col-sm-12" style="padding:0;">
                <!--<div class="bgd"></div>-->
                <!-- <video id="video_player_example" muted loop autoplay></video> -->
                <video id="video_player_example" muted loop autoplay></video>
            </div>

            <div class="col-3 d-none d-md-block" style="padding:0;">
                <p class="custom custom-right-1"><span class="custom-line-right2"></span> Брендированная локация</p>
                <!--<div class="custom custom-right-1-line"></div>-->
                <p class="custom custom-right-2"><span class="custom-line-right2"></span> Вид спереди и сзади</p>
                <!--<div class="custom custom-right-2-line"></div>-->
            </div>
            <div class="col-12"></div>
            <div class="col-3"></div>
            <div class="col-6 d-none d-md-block" style="padding:0;">
                <!--
                <div class="custom custom-bottom-corner"></div>
                <p class="custom custom-bottom">Переключение зеркального отображения</p>
                    -->
                <table class="table-bottom">
                    <tr>
                        <td>
                            <p class="custom custom-bottom2">Переключение зеркального отображения</p>
                        </td>
                        <td>
                            <div class="custom custom-bottom-corner2"></div>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
        <div class="col-12 d-md-none d-lg-none row pre-block" style="padding:0;margin-top:15px;">
            <div class="block col-12">
                <ul>
                    <li>Разнообразие стилей</li>
                    <li>Топовые хореографы</li>
                    <li>Удобный интерфейс</li>
                    <li>Переключение зеркального отображения + вид спереди и сзади</li>
                    <li>Брендированная локация</li>
                    <li>Уровни: Beginners / Middle / Advanced</li>
                </ul>
            </div>
        </div>

    </div>
</div>

<script>
    function resizeSection5Text() {
        var height = document.getElementById("section7_ul").offsetHeight;
        var newFontSize = parseInt(height / 12, 10);
        var newLineHeight = parseInt(height / 8, 10); if (newLineHeight < 20) return;
        //document.getElementById("section7_ul").style.fontSize = newFontSize + 'px';
        //document.getElementById("section7_ul").style.lineHeight = newLineHeight + 'px';
        document.getElementById("section7_ul").style.paddingTop = newLineHeight + 'px';
    }

    function loadVideoSection6() {
        setTimeout(function () {
            var video = document.getElementById("video_player_example");
            var source = document.createElement("source");
            source.src = "/video_player_example.mp4";
            video.appendChild(source);
            video.play();
        }, 0);
    }

    window.addEventListener('resize', function (event) {
        resizeSection1Text();
    }, true);
    window.onload = function () {
        resizeSection1Text();
        loadVideoSection6();
    }

    /*
    window.addEventListener('scroll', function (e) {
        
        if ($(window).scrollTop() + $(window).height() + $(window).height() * 0.8 >= getDocHeight()) {
            searchLessons();
        }
        

    });
    */

    function getDocHeight() {
        var D = document;
        return Math.max(
            D.body.scrollHeight, D.documentElement.scrollHeight,
            D.body.offsetHeight, D.documentElement.offsetHeight,
            D.body.clientHeight, D.documentElement.clientHeight
        );
    }
</script>

<div class="container">
    <div class="row section7">
        <div class="col-7 col-lg-6 col-md-7 col-sm-7" style="padding-right:0">
            <h3>
                Начни свой танцевальный путь с любого уголка планеты
            </h3>
            <p>
                Скидка на первый месяц подписки
            </p>
            <button class="btn" onclick="scroll_to_pay()">
                Подробнее
            </button>
        </div>
        <div class="col-5 col-lg-5 col-md-4 col-sm-5 preimage">
            <!--<div class="bgd-light"></div>-->
            <img src="~/images/screens.png" loading="lazy" class="img-fluid" />
        </div>

    </div>
    <script>
        function scroll_to_pay() {
            $('html, body').animate({
                scrollTop: $("#destination_of_scroll_to_pay").offset().top
            }, {
                duration: 370,
                easing: "linear"
            });
        }

    </script>
</div>

@{await Html.RenderPartialAsync("_modalFreeAccessPartial");}







<div class="modal fade" id="modalExcluziveAccess" tabindex="-1" role="dialog" aria-labelledby="modalExcluziveAccessLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modalExcluziveAccess">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="modalExcluziveAccessBtnClose">
                    <img src="~/images/close.png" loading="lazy" class="img-fluid" />
                </button>
                <h5 class="modal-title" id="modalExcluziveAccessLabel">
                    Мы подготовили для тебя несколько удобных программ тренировок с наставником
                </h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                        <div class="block">
                            <h3>Тариф “Базовый”</h3>
                            <ul>
                                <li>- Персональная система тренировок, составленная выбранным тобой наставником</li>
                                <li>- План развития (8 уроков)</li>
                                <li>- Занятия по собственной уникальной программе</li>
                            </ul>
                            <div class="text-center">
                                <button class="btn" onclick="chooseExcluziveRate(1)">
                                    Выбрать
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4 col-md-4 col-sm-12 second">
                        <div class="block">
                            <h3>Тариф “Продвинутый”</h3>
                            <ul>
                                <li>- Персональная система тренировок, составленная выбранным тобой наставником</li>
                                <li>- План развития (8 уроков)</li>
                                <li>- Занятия по собственной уникальной программе</li>
                                <li>- Домашнее задание в конце программы: хореография, основанная на пройденом материале</li>
                                <li>- По итогам домашнего задания наставник подводит итоги о проделанной работе и дает рекомендации по дальнейшему пути развития</li>
                            </ul>
                            <div class="text-center">
                                <button class="btn" onclick="chooseExcluziveRate(2)">
                                    Выбрать
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4 col-md-4 col-sm-12 first">
                        <div class="block">
                            <h3>Тариф “Углубленный”</h3>
                            <ul>
                                <li>- Персональная система тренировок, составленная выбранным тобой наставником</li>
                                <li>- План развития (8 уроков)</li>
                                <li>- Занятия по собственной уникальной программе</li>
                                <li>- 8 домашних заданий</li>
                                <li>- Наставник следит за правильностью исполнения каждого урока, дает рекомендации и исправляет ошибки</li>
                                <li>- Фидбэк о проделанной работе в конце курса и рекомендации по дальнейшему пути развития</li>
                            </ul>
                            <div class="text-center">
                                <button class="btn" onclick="chooseExcluziveRate(3)">
                                    Выбрать
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button type="button" style="opacity:0;" data-toggle="modal" data-target="#modalExcluziveAccess" id="btnOpenRegistration"></button>
<script>
    var RATE = 0;
    function chooseExcluziveRate(value) {
        document.getElementById("modalExcluziveAccessBtnClose").click();
        RATE = value;
        document.getElementById("is_need_curator_mea").value = value;
        curatorControl(value);
        setMentorPriceSpanActive(value);
        setTimeout(
            function () {
                $('#modalExcluziveAccessInit').modal();
                //document.getElementById("btnOpenRegistration").click();
            }, 500
        );
    }


    //document.getElementsByClassName("btn-section1")[0].getElementsByTagName("span")[0].style.color = "#000000";

</script>


@{await Html.RenderPartialAsync("_modalExcluziveAccessPartial"); }




<script src="~/js/viewmodel/PreviewVideo1.js"></script>
<script src="~/js/factory/PreviewVideo1Factory.js"></script>