@using STG.ViewModels.Payment;

@model PaymentLiteViewModel;

@{
    ViewData["Title"] = "Фейк-страница оплаты доступа к уроку | STG";
    @using Microsoft.AspNetCore.Antiforgery
    @inject IAntiforgery antiforgery
    var tokenSet = antiforgery.GetAndStoreTokens(Context);
}

<style>
    .fake {
        text-align:center;
    }
    .fake .btn {
        margin-bottom:12px;
    }
</style>

<div class="col-12 row payment-new fake">
    <div class="col-1 col-lg-4 col-md-4 col-sm-1"></div>

    <div class="col-10 col-lg-4 col-md-4 col-sm-10 row">
        <div class="block col-12 row">
            <div class="col-12">
                @if (Model.lesson != null)
                {
                    <h5>Оплата доступа к уроку: @Model.lesson.name</h5>

                 }

                @if (Model.subscription != null)
                {

                    <h5>Оплата подписки: @Model.subscription.name</h5>

                }
            </div>

            <div class="col-12">
                <a href="#">
                    <button class="btn btn-success" onclick="successfullPayment(this)">
                        Успешная оплата
                    </button>
                </a>
            </div>
            <div class="col-12">
                <a href="/payment/error">
                    <button class="btn btn-danger">
                           Ошибка оплаты
                    </button>
                </a>
            </div>


        </div>
    </div>

</div>

<script>

    function successfullPayment(btn) {
        var form = new FormData();


        form.append("id_of_payment", @Model.id);
        btnEnabled(btn, true);

        $.ajax({
            method: 'POST',
            type: "POST",
            url: "/api/payment/result",
            data: form,
            cashe: false,
            processData: false,
            contentType: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader('@tokenSet.HeaderName', '@tokenSet.RequestToken');
            },
            error: function () {
                $("#warning").html("Ошибка соединения с сервером");
                btnEnabled(btn, false);
            },
            success: function (html) {
                if (html["status"] == "success") {
                   window.location.href = "/payment/success/@Model.id";
                } else {
                    $("#warning").html("Извините, на сервере произошла неизвестная ошибка");
                }
                btnEnabled(btn, false);
            }
        });
    }
    function btnEnabled(btn, v) {
        v ? btn.disabled = true : btn.disabled = false;
    }
</script>