@{
    @using Microsoft.AspNetCore.Antiforgery;
    @inject IAntiforgery antiforgery
    var tokenSet = antiforgery.GetAndStoreTokens(Context);

    int idMenuActive = (!String.IsNullOrEmpty(ViewData["idMenuActive"].ToString()) ? (int)ViewData["idMenuActive"] : 0);
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta content="no-cache" http-equiv="Pragma" />
    <meta content="no-cache, no-store, must-revalidate" http-equiv="Cache-Control" />
    <meta content="post-check=0, pre-check=0" http-equiv="Cache-Control" />
    <meta content="0" http-equiv="Expires" />
    <META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 22 Jul 2002 11:12:01 GMT">
    <meta content="*" http-equiv="Clear-Site-Data" />
    <!--
    <meta content="*" http-equiv="Vary" />
        -->

    <meta name="yandex-verification" content="0a86e640278e841c" />

    <title>@ViewData["Title"] - STG</title>

    <link rel="stylesheet" href="~/dist/css/bootstrap.min.css?@DateTime.Now.Ticks" />
    <link rel="stylesheet" href="~/fontawesome/css/font-awesome.min.css?@DateTime.Now.Ticks" />
    <link rel="stylesheet" href="~/main.css?@DateTime.Now.Ticks" />
    <link rel="stylesheet" href="~/lesson.css?@DateTime.Now.Ticks" />
    <link rel="stylesheet" href="~/preview_block.css?@DateTime.Now.Ticks" />
    <link rel="stylesheet" href="~/first.css?@DateTime.Now.Ticks" />
    <link rel="stylesheet" href="~/main_mobile.css?@DateTime.Now.Ticks" />

    <environment include="Development">
        <!--
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="icon" href="~/images/favicon.ico" type="image/x-icon">
            -->
    </environment>
    <environment exclude="Development">
        <!--
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
            -->
    </environment>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EVTFDF7F13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-EVTFDF7F13');
    </script>

</head>
<body onunload="">

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
            m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(85704037, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/85704037" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <style>
        .btn {
            color: #000;
        }
    </style>


    <div class="row header">

        <div class="col-3 d-lg-none d-md-none d-sm-block"></div>

        <div class="col-6 col-lg-1 col-md-1 col-sm-6 logo">
            <a href="/">
                <img src="/images/logo_black.png" class="img-fluid" />
            </a>
        </div>
        <div class="col-8 d-none d-md-block menu">
            <ul>
                <li class="@(idMenuActive == 1 ? "active" : "")"><a href="/"><span>Главная</span></a></li>
                <li class="@(idMenuActive == 2 ? "active" : "" )"><a href="/lessons"><span>Уроки</span></a></li>
                <li class="@(idMenuActive == 3 ? "active" : "" )"><a href="/packages"><span>Мои программы</span></a></li>
                <li class="@(idMenuActive == 4 ? "active" : "" )"><a href="/teachers"><span>Преподаватели</span></a></li>
            </ul>
        </div>

        <div class="col-3 d-none d-md-block right">
            <a href="https://instagram.com/stgonline.pro" target="_blank" class="social ">
                <img src="/images/instagram_logo.png" class="img-fluid" />
            </a>
            <a href="https://youtube.com/c/LILFAMNATION" target="_blank" class="social youtube ">
                <img src="/images/youtube_play_button.png" class="img-fluid" />
            </a>

            @if (Context.User.Identity.IsAuthenticated)
            {
            <p data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenuButton">
                <a href="#">
                    <img src="/images/profile-default.png" class="img-fluid avatar" />
                </a>
            </p>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/profile">Аккаунт</a>
                <hr />
                <a class="dropdown-item" href="#" onclick="logout()">Выйти</a>
            </div>
            <script>
                function logout() {
                    $.ajax({
                        method: 'GET',
                        type: "GET",
                        url: "/api/user/logout",
                        cashe: false,
                        processData: false,
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('@tokenSet.HeaderName', '@tokenSet.RequestToken');
                        },
                        error: function () {

                        },
                        success: function (html) {
                            window.location.href = "/";
                        }
                    });
                }
            </script>

            }
            else
            {

            <a href="/login" class="a-sign-in">
                <button type="button" class="btn btn-sign-in">
                    Войти
                </button>
            </a>

            }
        </div>

        <div class="col-3 d-lg-none d-md-none d-sm-block div-btn-bar">
            <button class="btn-bar" onclick="menuMobile()" style='color:#000;'>
                <i class="fa fa-bars" aria-hidden="true" style='color:#000;'></i>
            </button>
        </div>


    </div>

    <div class="col-12 d-lg-none d-md-none menu-mobile">
        <button class="btn-bar" onclick="menuMobile()">
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
        <ul>
            @if (Context.User.Identity.IsAuthenticated)
            {
            <li><a href="/profile"><span>Аккаунт</span></a></li>
            <li><a href="#" onclick="logout()"><span>Выйти</span></a></li>
            }
            else
            {
            <li><a href="/login"><span>Войти</span></a></li>
            }
            <hr />
            <li class="@(idMenuActive == 1 ? "active" : "")"><a href="/"><span>Главная</span></a></li>
            <li class="@(idMenuActive == 2 ? "active" : "" )"><a href="/lessons"><span>Уроки</span></a></li>
            <li class="@(idMenuActive == 3 ? "active" : "" )"><a href="/packages"><span>Мои программы</span></a></li>
            <li class="@(idMenuActive == 4 ? "active" : "" )"><a href="/teachers"><span>Преподаватели</span></a></li>
        </ul>
        <a href="https://instagram.com/stg.online.pro" target="_blank" class="social ">
            <img src="/images/instagram_logo.png" class="img-fluid" />
        </a>
        <a href="https://youtube.com/c/LILFAMNATION" target="_blank" class="social youtube ">
            <img src="/images/youtube_play_button.png" class="img-fluid" />
        </a>

    </div>



    <div class="row main">
        <div class="col-12 row content" id="content">
            @RenderBody()
        </div>
    </div>


    <script>
        var MENU_STATUS = false;
        function menuMobile() {
            var divMenuMobile = document.getElementsByClassName("menu-mobile")[0];
            if (MENU_STATUS) {
                divMenuMobile.classList.remove("active");
                MENU_STATUS = !MENU_STATUS;
            } else {
                divMenuMobile.classList.add("active");
                MENU_STATUS = !MENU_STATUS;
            }
        }

        function isValidDate(dateString) {

            // Parse the date parts to integers
            var parts = dateString.split("-");
            var day = parseInt(parts[2], 10);
            var month = parseInt(parts[1], 10);
            var year = parseInt(parts[0], 10);

            // Check the ranges of month and year
            if (year < 1000 || year > 3000 || month == 0 || month > 12)
                return false;

            var monthLength = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];

            // Adjust for leap years
            if (year % 400 == 0 || (year % 100 != 0 && year % 4 == 0))
                monthLength[1] = 29;

            // Check the range of the day
            return day > 0 && day <= monthLength[month - 1];
        };

        function isValidateEmail(email) {
            const re = /^(([^<>()[\]\\.,;:\s@("@")"]+(\.[^<>()[\]\\.,;:\s@("@")"]+)*)|(".+"))@("@")((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(String(email).toLowerCase());
        }
    </script>






    <div class="row footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4 col-md-4 col-sm-12"></div>
                <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                    <img src="/images/logo_stg.png" class="img-fluid" />
                    <p>&copy;Copyright @DateTime.Now.Year All right reserved</p>
                </div>
            </div>
        </div>
    </div>


    <!--
    <partial name="_CookieConsentPartial" />
     -->


    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="~/dist/js/bootstrap.min.js?" asp-append-version="true"></script>

    <environment include="Development">
        <!--
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        -->
    </environment>
    <environment exclude="Development">

        <!--
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
            -->
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
