@using STG.ViewModels.User;
@using STG.ViewModels.Package;
@using STG.ViewModels.PackageChat
@model UserPassingPackageViewModel;

@{
    ViewData["Title"] = "Чат с наставником | STG";
    @using Microsoft.AspNetCore.Antiforgery;
    @inject IAntiforgery antiforgery
    var tokenSet = antiforgery.GetAndStoreTokens(Context);
}



<div class="col-12">
    <h2 class="h-title">Чат с наставником. Программа: @Model.packageInfoViewModel.name</h2>
    <a href="/package/@Model.packageInfoViewModel.id">
        <button class="btn">
            Назад в программу
        </button>
    </a>
    <hr />
    <div class="container">
        <div class="row">

            <div class="col-12 col-lg-6 col-md-12 col-sm-12 package-passing-lessons">

                @foreach (PackageDayViewModel packageDay in Model.packageInfoViewModel.packageDays)
                {
                    <div class="package-day">
                        @if (packageDay.number > 1)
                        {
                            <hr />
                        }
                        <h4>День @(packageDay.number): @packageDay.name</h4>

                        @foreach (PackageLessonLiteViewModel packageLessonLite in packageDay.package_lesson_list)
                        {
                            <div class="package-lesson">
                                <a href="/lesson/@packageLessonLite.lessonViewModel.id?package=@Model.packageInfoViewModel.id">
                                    <img class="img-fluid @(!packageLessonLite.isFinished ? "notfinished" : "")" src="@packageLessonLite.lessonViewModel.posterSrc" />
                                </a>
                                <h5 class="name">
                                    <a href="/lesson/@packageLessonLite.lessonViewModel.id">
                                        @packageLessonLite.lessonViewModel.name
                                    </a>
                                </h5>
                                <p class="stats">Просмотрено: @(packageLessonLite.procentsViewed)%</p>
                                <p class="stats">
                                    Домашнее задание:
                                    @if (packageLessonLite.homework_status == 0)
                                    {
                                        <span>не предусмотрено</span>
                                    }
                                    else if (packageLessonLite.homework_status == 1)
                                    {
                                        if (packageLessonLite.isHomeworkSend)
                                        {
                                            <span class="success">Сдано</span>
                                        }
                                        else
                                        {
                                            <span class="danger">Не сдано</span>
                                        }
                                    }
                                </p>

                                @if (packageLessonLite.homework_status == 1)
                                {
                                    @if (packageLessonLite.homework_lite != null)
                                    {
                                    <div class="homework-content">
                                        <button class="btn" type="button"
                                                data-toggle="collapse" data-target="#collapseHomework@(packageLessonLite.id)" aria-expanded="false" aria-controls="collapseExample@(packageLessonLite.id)"
                                                onclick ="@(packageLessonLite.homework_lite.status_of_seen_of_message_from_teacher == 0 && packageLessonLite.homework_lite.answer_from_teacher != null
                              ? "setSeenByUser(" + packageLessonLite.homework_lite.id + ")" : "")"
                                                >
                                            Контент домашних заданий
                                        </button>

                                        <div class="collapse" id="collapseHomework@(packageLessonLite.id)">
                                            <hr />
                                            <div class="homework_text">
                                                <p class="mission-title">Домашнее задание:</p>
                                                @packageLessonLite.homework_text
                                            </div>
                                            <div class="row">
                                                @if (packageLessonLite.homework_lite.comment != null)
                                                {
                                                    <div class="col-12 user-answer-block">
                                                        <p class="user-answer-date">Дата сообщения: @packageLessonLite.homework_lite.date_of_add</p>
                                                        <p class="user-answer-title">Сообщение от вас:</p>
                                                        <div class="comment">
                                                            @packageLessonLite.homework_lite.comment
                                                        </div>
                                                        @if (packageLessonLite.homework_lite.filenameSrc != null)
                                                        {
                                                            <a href="@packageLessonLite.homework_lite.filenameSrc" target="_blank">Ссылка на файл</a>
                                                        }
                                                    </div>
                                                }

                                                @if (packageLessonLite.homework_lite.answer_from_teacher != null)
                                                {
                                                    <div class="col-12 admin-answer-block">
                                                        @if (@packageLessonLite.homework_lite.date_of_update_of_teacher != null)
                                                        {
                                                            <p class="admin-answer-date">Дата ответа: @packageLessonLite.homework_lite.date_of_update_of_teacher</p>
                                                        }
                                                        <p class="admin-answer-title">Сообщение от наставника:</p>
                                                        <div class="answer">
                                                            @packageLessonLite.homework_lite.answer_from_teacher
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    }
                                }
                            </div>
                        }
                    </div>
                }

            </div>

            @if (Model.packageInfoViewModel.statusOfChatNone0Homework1AndChat2 == 2)
            {

            <div class="col-12 col-lg-6 col-md-12 col-sm-12 package-chat">
                <div class="row">
                    @foreach (PackageChatMessageViewModel packageChatMessage in Model.packageChatMessages)
                    {
                        <div class="col-12">
                            <div class="message @(packageChatMessage.user0_teacher1 == 1 ? "admin" : "user")">


                                @if (packageChatMessage.user0_teacher1 == 1)
                                {
                                    <h6><span>@(packageChatMessage.teacher != null ? packageChatMessage.teacher.name : "Наставник")</span> @packageChatMessage.date_of_add</h6>
                                }
                                else
                                {
                                    <h6>
                                        @if (packageChatMessage.user != null)
                                        {
                                            <span>@packageChatMessage.user.secondname @packageChatMessage.user.firstname</span>
                                        }
                                        else
                                        {
                                            <span>Вы </span>
                                        }
                                        @packageChatMessage.date_of_add
                                    </h6>
                                }

                                <p class="text">
                                    @packageChatMessage.message
                                </p>
                            </div>
                        </div>
                    }

                    <div class="col-12">
                        <hr />
                        <div class="answer-div">
                            <form action="#" id="formChat">
                                <div class="form-group">
                                    <label for="message">Написать сообщение:</label>
                                    <textarea class="form-control" rows="4" name="message"></textarea>
                                </div>
                                <button type="button" class="btn btn-info" onclick="send_message()">
                                    Отправить
                                </button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            } else
            {
                <div class="col-12 col-lg-6 col-md-12 col-sm-12 package-chat">
                    <div class="row no-chat">
                        <div class="col-12">
                            <p>
                                - чат не подключен к данной программе -
                            </p>
                        </div>
                    </div>
                </div>
            }



        </div>
    </div>
</div>

<script>

    var isMessagSending = false;
    function send_message() {

        if (isMessagSending) return;
        isMessagSending = true;

        var form = new FormData(document.getElementById("formChat"));
        form.set("id_of_package", "@Model.packageInfoViewModel.id");

        $.ajax({
            method: 'POST',
            type: "POST",
            url: "/api/package_chat/message_from_user",
            data: form,
            cashe: false,
            processData: false,
            contentType: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader('@tokenSet.HeaderName', '@tokenSet.RequestToken');
            },
            error: function () {
                alert("Ошибка соединения с сервером");
                isMessagSending = false;
            },
            success: function (html) {
                if (html["status"] == "success") {
                    //showAlertRequestSuccess();
                    window.location.reload();
                } else {
                    alert("Извините, на сервере произошла неизвестная ошибка");
                }
                isMessagSending = false;
            }
        });
    }



    function setSeenByUser(id_of_homework) {
        var form = new FormData();
        form.set("id", id_of_homework);

        $.ajax({
            method: 'POST',
            type: "POST",
            url: "/api/homework/set_seen_by_user",
            data: form,
            cashe: false,
            processData: false,
            contentType: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader('@tokenSet.HeaderName', '@tokenSet.RequestToken');
            },
            error: function () {
                alert("Ошибка соединения с сервером");
            },
            success: function (html) {

            }
        });
    }
</script>