

@{
    ViewData["Title"] = "Администраторы";
    @using Microsoft.AspNetCore.Antiforgery;
    @inject IAntiforgery antiforgery
    var tokenSet = antiforgery.GetAndStoreTokens(Context);
}



<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <i class="fa fa-users"></i>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href=""><i class="glyphicon glyphicon-users"></i></a></li>
                <li>Администраторы</li>
            </ul>
            <h4>Администраторы</h4>
        </div>
    </div>
</div>




<div class="contentpanel admins">

    <div class="row">
        <div class="col-sm-3">

            <h5 class="md-title">Фильтр</h5>
            <ul class="nav nav-pills nav-stacked nav-contacts">
                <li class="active">
                    <a href="#">
                        Все
                        <span class="badge pull-right"></span>
                    </a>
                </li>
            </ul>

            <br />

            <button class="btn btn-default" data-toggle="modal" data-target="#modal_add_new_admin">
                <img src="~/images/plus.png" height="18px"> Добавить
            </button>

            <div class="modal fade bs-example-modal-lg" id="modal_add_new_admin" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                            <h4 class="modal-title"><center>Новый администратор</center></h4>
                        </div>
                        <div class="modal-body">
                            <div class="panel panel-default">

                                <div class="panel-body">
                                    <form class="row" action="#" id="formNewAdmin">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Логин <span class="asterisk">*</span></label>
                                            <div class="col-sm-9">
                                                <input type="text" maxlength="200" name="username" class="form-control" required onkeypress="clearWarningModalAddNewAdmin();" />
                                                <span style="color:red;" id="span_of_warning_im_modal_for_create_new_admin"></span>
                                            </div>
                                        </div><!-- form-group -->
                                    </form><!-- row -->
                                </div><!-- panel-body -->
                            </div><!-- panel -->

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="create_new_admin(this);">Создать</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal" data-target="">Закрыть</button>
                        </div>

                    </div>
                </div>
            </div>

            <script>
                function create_new_admin(btn) {
                    clearWarningModalAddNewAdmin();
                    var form = new FormData(document.getElementById("formNewAdmin"));
                    if (form.get("username") == "") {
                        makeWarningModalAddNewAdmin("Логин обязателен");
                        return;
                    }
                    btnDisabled(btn, true);

                    $.ajax({
                        method: 'POST',
                        type: "POST",
                        url: "/api/admin/add",
                        data: form,
                        cashe: false,
                        processData: false,
                        contentType: false,
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('@tokenSet.HeaderName', '@tokenSet.RequestToken');
                        },
                        error: function () {
                            makeWarningModalAddNewAdmin("Ошибка соединения с сервером");
                            btnDisabled(btn, false);
                        },
                        success: function (html) {
                            if (html["status"] == "success") {
                                $("#modal_add_new_admin").modal("hide");
                                searchStartAgain();
                            } else {
                                makeWarningModalAddNewAdmin("Извините, на сервере произошла неизвестная ошибка");
                            }
                            btnDisabled(btn, false);
                        }
                    });
                }
                function clearWarningModalAddNewAdmin() {
                    document.getElementById("span_of_warning_im_modal_for_create_new_admin").innerHTML = "";
                }
                function makeWarningModalAddNewAdmin(message) {
                    document.getElementById("span_of_warning_im_modal_for_create_new_admin").innerHTML = message;
                }
            </script>


        </div><!-- col-sm-3 -->
        <div class="col-sm-9">

            <div class="well mt10">
                <form id="formSearch" class="row">
                    <div class="col-sm-9">
                        <input type="text" placeholder="Поиск" name="queryString" class="form-control" />
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-success" onclick="searchStartAgain()">Найти</button>
                    </div>
                    <div class="col-sm-12">
                        <p class="warning"></p>
                    </div>

                </form>
            </div><!-- well -->

            <script>
                window.onload = function () {
                    search();
                }

                function searchStartAgain() {
                    PAGE = 1;
                    search();
                }

                var PAGE = 1;
                function search() {
                    var btn = document.getElementById("formSearch").getElementsByTagName("button")[0];
                    var btnSave = document.getElementById("btnSave")
                    var form = new FormData(document.getElementById("formSearch"));
                    form.set("page", PAGE);
                    btnDisabled(btn, true);
                    btnDisabled(btnSave, true);
                    $("#user_list").html("<p>Идет загрузка...</p>");

                    $.ajax({
                        method: 'POST',
                        type: "POST",
                        url: "/api/admin/search",
                        data: form,
                        cashe: false,
                        processData: false,
                        contentType: false,
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader('@tokenSet.HeaderName', '@tokenSet.RequestToken');
                        },
                        error: function () {
                            makeWarning("Ошибка соединения с сервером");
                            btnDisabled(btn, false);
                            btnDisabled(btnSave, false);
                            $("#user_list").empty();
                        },
                        success: function (html) {
                            if (html["status"] == "success") {
                                _buildPagination(html["result_admins"]["count"]);
                                userListBuild(html["result_admins"]["admins"]);
                                PAGE++;
                            } else {
                                makeWarning("Извините, на сервере произошла неизвестная ошибка");
                            }
                            btnDisabled(btn, false);
                            btnDisabled(btnSave, false);
                        }
                    });
                }

                function clearWarning() {
                    document.getElementsByClassName("warning")[0].innerHTML = "";
                }
                function makeWarning(message) {
                    document.getElementsByClassName("warning")[0].innerHTML = message;
                }

                function btnDisabled(btn, v) {
                    v ? btn.disabled = true : btn.disabled = false;
                }
            </script>

            <br />

            <div class="pull-right" id="searchPagination">
                <!--
                <ul class="pagination pagination-split pagination-sm pagination-contact">
                    <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                </ul>
                    -->
            </div>

            <script>
                function _buildPagination(count) {
                    document.getElementById("searchPagination").innerHTML = "";

                    var ul = document.createElement("ul");
                    ul.className = "pagination pagination-split pagination-sm pagination-contact";

                    var li0 = document.createElement("li");
                    li0.className = (PAGE - 1 > 1 ? "" : "disabled");
                    var a0 = document.createElement("a");
                    a0.href = "#";
                    var i1 = document.createElement("i");
                    i1.className = "fa fa-angle-left";
                    a0.appendChild(i1);
                    li0.appendChild(a0);


                    var liActive = document.createElement("li");
                    liActive.className = "active";
                    var a1 = document.createElement("a");
                    a1.href = "#";
                    a1.innerHTML = PAGE;
                    liActive.appendChild(a1);

                    var li2 = document.createElement("li");
                    li2.className = (PAGE * 30 < count ? "" : "disabled");
                    var a2 = document.createElement("a");
                    a2.href = "#";
                    var i2 = document.createElement("i");
                    i2.className = "fa fa-angle-right";
                    a2.appendChild(i2);
                    li2.appendChild(a2);

                    ul.appendChild(li0);
                    ul.appendChild(liActive);
                    ul.appendChild(li2);

                    document.getElementById("searchPagination").appendChild(ul);
                }
            </script>


            <h3 class="xlg-title">Найденное:</h3>

            <div class="list-group contact-group" id="user_list">


            </div>




        </div>
    </div>


</div>


<script>
    function userListBuild(users) {
        _clearListUser();
        if (users.length == 0) {
            document.getElementById("user_list").innerHTML = "<p>- ничего не найдено -</p>";
            return;
        }
        for (var i = 0; i < users.length; i++) {
            document.getElementById("user_list").appendChild(_buildAUserpreview(users[i]));
        }
    }

    function _clearListUser() {
        $("#user_list").empty();
    }



    function _buildAUserpreview(userdata) {
        var aBlock = document.createElement("a");
        aBlock.className = "list-group-item";
        var divMedia = document.createElement("div");
        divMedia.className = "media";

        divMedia.appendChild(_buildPhoto(userdata));
        divMedia.appendChild(_buildSecondnameAndFirstname(userdata));
        divMedia.appendChild(_buildSecondaryInfo(userdata));

        aBlock.appendChild(divMedia);
        aBlock.onclick = function () {
            get(userdata["id"]);
        }

        return aBlock;
    }


    function _buildPhoto(userdata) {
        var divMediaContent = document.createElement("div");
        divMediaContent.className = "pull-left";
        var img = document.createElement("img");
        img.className = "img-circle img-online";
        img.src = "/assets/images/photos/profile-nophoto.jpg";
        img.alt = "...";
        divMediaContent.appendChild(img);
        return divMediaContent;
    }
    function _buildSecondnameAndFirstname(userdata) {
        var h4MediaHeading = document.createElement("h4");
        h4MediaHeading.className = "media-heading";
        h4MediaHeading.innerHTML =
            (userdata["username"] != null ? userdata["username"] : "");
        return h4MediaHeading;
    }
    function _buildSecondaryInfo(userdata) {
        var divMediaContent = document.createElement("div");
        divMediaContent.className = "media-content";

        var iRegion = document.createElement("i");
        iRegion.className = "fa fa-map-marker";
        if (userdata["region_name"] != null) {
            iRegion.innerHTML = userdata["region_name"];
        } else {
            iRegion.innerHTML = "-";
        }

        var ul = document.createElement("ul");
        ul.className = "list-unstyled";

        var li = document.createElement("li");
        var i = document.createElement("i");
        i.className = "glyphicon glyphicon-log-in";
        li.appendChild(i);
        li.innerHTML += (userdata["active"] == 1 ? " <span class='success'>Разрешен</span>" : " <span class='danger'>Запрещен</span>");
        ul.appendChild(li);

        if (userdata["position"] != null) {
            var li = document.createElement("li");
            var i = document.createElement("i");
            i.className = "fa fa-user";
            li.appendChild(i);
            li.innerHTML += userdata["position"];
            ul.appendChild(li);
        }

        //divMediaContent.appendChild(iRegion);
        divMediaContent.appendChild(ul);
        return divMediaContent;
    }
</script>


<script>
    var ID_OF_ADMIN = 0;
    function get(id) {
        ID_OF_ADMIN = id;
        var form = new FormData();
        form.set("id", id);
        var btn = document.getElementById("formSearch").getElementsByTagName("button")[0];
        var btnSave = document.getElementById("btnSave");
        btnDisabled(btn, true);
        btnDisabled(btnSave, true);

        $.ajax({
            method: 'POST',
            type: "POST",
            url: "/api/admin/get",
            data: form,
            cashe: false,
            processData: false,
            contentType: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader('@tokenSet.HeaderName', '@tokenSet.RequestToken');
            },
            error: function () {
                alert("Ошибка соединения с сервером");
                btnDisabled(btn, false);
                btnDisabled(btnSave, false);
            },
            success: function (html) {
                if (html["status"] == "success") {
                    modalEditAdminInit(html["admin"]);
                } else {
                    alert("Извините, на сервере произошла неизвестная ошибка");
                }
                btnDisabled(btn, false);
                btnDisabled(btnSave, false);
            }
        });
    }
</script>


<script>
    function modalEditAdminInit(admindata) {

        var modalEditAdmin = document.getElementById("modalEditAdmin");
        modalEditAdmin.getElementsByTagName("h4")[1].innerHTML = admindata["position"];
        document.getElementById("id").value = admindata["id"];
        document.getElementById("active").value = admindata["active"];
        document.getElementById("disabled_input_for_id").value = admindata["id"];
        document.getElementById("username").value = admindata["username"];
        document.getElementById("position").value = admindata["position"];
        document.getElementById("new_password").value = "";
        document.getElementById("label_for_warning_about_changes_and_telling_save").innerHTML = "";

        var btnActive = document.getElementById("btnActive");
        btnActive.classList.add("divHide");
        if (admindata["active"] == 1) {
            btnActive.className = "btn btn-success";
            btnActive.innerHTML = "Доступ открыт";
            btnActive.onclick = function () {
                change_access(0);
            }
            btnActive.classList.remove("divHide");
        } else {
            btnActive.className = "btn btn-danger";
            btnActive.innerHTML = "Доступ закрыт";
            btnActive.onclick = function () {
                change_access(1);
            }
            btnActive.classList.remove("divHide");
        }

        $("#formAccessToPanels").empty();
        for (var i = 0; i < admindata["accesses_to_panels"].length; i++) {
            document.getElementById("formAccessToPanels").appendChild(_buildAccessToPanelModalEditAdmin(admindata["accesses_to_panels"][i]));
        }

        $("#modalEditAdmin").modal();
    }

    function _buildAccessToPanelModalEditAdmin(access_to_panels) {

        var option0 = document.createElement("option");
        option0.value = 0;
        option0.innerHTML = "Доступ закрыт";
        if (access_to_panels["item2"] == 0) option0.selected = true;

        //var option1 = document.createElement("option");
        var option2 = document.createElement("option");
        option2.value = 2;
        option2.innerHTML = "Чтение и запись";
        if (access_to_panels["item2"] == 2) option2.selected = true;

        var select = document.createElement("select");
        select.className = "form-control";
        select.name = access_to_panels["item1"];
        select.onchange = function () {
            saveModalEditAdmin();
        }
        select.appendChild(option0);
        select.appendChild(option2);

        var divSelect = document.createElement("div");
        divSelect.className = "col-md-8 col-xs-12";
        divSelect.appendChild(select);

        var label = document.createElement("label");
        label.className = "control-label col-md-4 col-xs-12";
        label.htmlFor = access_to_panels["item1"];
        label.innerHTML = access_to_panels["item3"];

        var div = document.createElement("div");
        div.className = "form-group";
        div.appendChild(label);
        div.appendChild(divSelect);

        return div;
    }
</script>

@{await Html.RenderPartialAsync("_modalEditAdminPartial"); }


<script>
    function prepare_delete_admin() {
        $("#modalEditAdmin").modal("hide");
        $("#modal_window_for_delete_admin").modal();
    }
    function delete_admin() {
        var form = new FormData(document.getElementById("formSearch"));
        form.set("id", ID_OF_ADMIN);

        $.ajax({
            method: 'POST',
            type: "POST",
            url: "/api/admin/delete",
            data: form,
            cashe: false,
            processData: false,
            contentType: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader('@tokenSet.HeaderName', '@tokenSet.RequestToken');
            },
            error: function () {
                alert("Ошибка соединения с сервером");
            },
            success: function (html) {
                if (html["status"] == "success") {
                    $("#modal_window_for_delete_admin").modal("hide");
                    searchStartAgain();
                } else {
                    alert("Извините, на сервере произошла неизвестная ошибка");
                }
            }
        });

    }
</script>


<div class="modal fade bs-example-modal-sm" id="modal_window_for_delete_admin" tabindex="-1" role="dialog" style="padding-top:20%;">

    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                <h4 class="modal-title">Вы уверены, что хотите удалить админа из базы данных?</h4>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="delete_admin();">Да</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" data-target="">Нет</button>
            </div>

        </div>
    </div>
</div>