@using STG.ViewModels.Admin
@model AdminProfileViewModel


@{
    @using Microsoft.AspNetCore.Antiforgery;
    @inject IAntiforgery antiforgery
    var tokenSet = antiforgery.GetAndStoreTokens(Context);
    ViewData["Title"] = "Профиль";
}


<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <i class="fa fa-th-list"></i>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                <li>Профиль</li>
            </ul>
            <h4>Профиль</h4>
        </div>
    </div><!-- media -->
</div><!-- pageheader -->
<div class="panel panel-dark-head">


    <div class="contentpanel">
        <div class="row">

            <div class="col-sm-8 col-md-9">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-line">
                    <li class="active"><a href="#activities" data-toggle="tab"><strong>Профиль</strong></a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content nopadding noborder">
                    <div class="tab-pane active" id="activities">
                        <div class="activity-list">
                            <form id="formProfile">
                                <div class="media">

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-xs-12">ID:</label>
                                        <div class="col-md-8 col-xs-12">
                                            <input type="text" class="form-control" value="@Model.id" disabled />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-xs-12" for="username">Логин:</label>
                                        <div class="col-md-8 col-xs-12">
                                            <input type="text" class="form-control" name="username" id="username" value="@Model.username" onkeypress="clearWarning();">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-xs-12" for="position">Должность:</label>
                                        <div class="col-md-8 col-xs-12">
                                            <input type="text" class="form-control" name="position" id="position" value="@Model.position" onkeypress="clearWarning();">
                                        </div>
                                    </div>
                                </div><!-- media -->



                                <div class="media">
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-xs-12" for="passwordNew">Новый пароль:</label>
                                        <div class="col-md-8 col-xs-12">
                                            <input type="password" class="form-control" name="passwordNew" id="passwordNew" value="" onkeypress="clearWarning();" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-xs-12" for="passwordNewAgain">Новый пароль еще раз:</label>
                                        <div class="col-md-8 col-xs-12">
                                            <input type="password" class="form-control" name="passwordNewAgain" id="passwordNewAgain" value="" onkeypress="clearWarning();" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-xs-12" for="passwordCurrent">Текущий пароль:</label>
                                        <div class="col-md-8 col-xs-12">
                                            <input type="password" class="form-control" name="passwordCurrent" id="passwordCurrent" value="" onkeypress="clearWarning();" />
                                        </div>
                                    </div>
                                </div>


                                <p align="right"><span id="warning"></span> <button type="button" class="btn btn-success" onclick="save(this);">Сохранить</button></p>


                                <script>

                                    function save(btn) {
                                        clearWarning();
                                        var form = new FormData(document.getElementById("formProfile"));
                                        btnAddEnabled(btn, true);

                                        if (form.get("passwordNew") != "") {
                                            if (form.get("passwordNewAgain") == "") {
                                                $("#warning").html("Введите пожалуйста новый пароль еще раз");
                                                btnAddEnabled(btn, false);
                                                return;
                                            }
                                            if (form.get("passwordNew") != form.get("passwordNewAgain")) {
                                                $("#warning").html("Новый пароль и введеный еще раз новый пароль не совпадают");
                                                btnAddEnabled(btn, false);
                                                return;
                                            }
                                            if (form.get("passwordCurrent") == "") {
                                                $("#warning").html("Введите пожалуйста текущий пароль");
                                                btnAddEnabled(btn, false);
                                                return;
                                            }
                                        }

                                        $.ajax({
                                            method: 'POST',
                                            type: "POST",
                                            url: "/api/admin/update",
                                            data: form,
                                            cashe: false,
                                            processData: false,
                                            contentType: false,
                                            beforeSend: function (xhr) {
                                                xhr.setRequestHeader('@tokenSet.HeaderName', '@tokenSet.RequestToken');
                                            },
                                            error: function () {
                                                $("#warningAdd").html("Ошибка соединения с сервером");
                                                btnAddEnabled(btn, false);
                                            },
                                            success: function (html) {
                                                if (html["status"] == "success") {
                                                    $("#warning").html("Успешно сохранено");
                                                } else if (html["status"] == "error" && html["errors"] == "username_already_exist") {
                                                    $("#warning").html("Логин уже зарегистрирован в базе");
                                                } else if (html["status"] == "error" && html["errors"] == "wrong_password_new") {
                                                    $("#warning").html("Проверьте пожалуйста новый апроль");
                                                } else if (html["status"] == "error" && html["errors"] == "wrong_password_current") {
                                                    $("#warning").html("Неверно введен текущий пароль");
                                                } else {
                                                    $("#warning").html("Извините, на сервере произошла неизвестная ошибка");
                                                }
                                                btnAddEnabled(btn, false);
                                            }
                                        });
                                    }
                                    function btnAddEnabled(btn, v) {
                                        v ? btn.disabled = true : btn.disabled = false;
                                    }

                                    function clearWarning() {
                                        $("#warning").html("");
                                    }
                                </script>
                            </form>







                        </div><!-- activity-list -->


                    </div><!-- tab-pane -->


                </div><!-- tab-content -->

            </div><!-- col-sm-9 -->
        </div><!-- row -->


    </div>
</div>