@using STG.ViewModels.Lesson
@using STG.ViewModels.Video
@using STG.Entities
@model LessonEditViewModel


@{
    Layout = "_LayoutWithoutScripts";
    ViewData["Title"] = "Редактирование урока";
    @using Microsoft.AspNetCore.Antiforgery;
    @inject IAntiforgery antiforgery
    var tokenSet = antiforgery.GetAndStoreTokens(Context);
}




<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <i class="fa fa-list-alt"></i>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href=""><i class="glyphicon glyphicon-list-alt"></i></a></li>
                <li>Редактирование урока</li>
            </ul>
            <h4>Редактирование урока: id @Model.lesson.id </h4>
        </div>
    </div><!-- media -->
</div><!-- pageheader -->
<div class="panel panel-dark-head">


    <div class="contentpanel">
        <div class="row">

            <div class="col-sm-12 col-md-12">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-line">
                    <li class="active"><a href="#activities" data-toggle="tab"><strong>Данные</strong></a></li>

                </ul>

                <!-- Tab panes -->
                <div class="tab-content nopadding noborder">
                    <div class="tab-pane active" id="activities">
                        <div class="activity-list">
                            <div class="media">
                                <form id="formLesson" class="form-group form-lesson">
                                    <input type="text" name="id" class="form-control input-hide" id="id" value="@Model.lesson.id" />

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-xs-12" for="id">ID: @Model.lesson.id</label>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-xs-12" for="name">Наименование (только администраторам):</label>
                                        <div class="col-md-8 col-xs-12">
                                            <input type="text" class="form-control" name="name" id="name" value="@Model.lesson.name" onkeypress="schetchik_of_changes();">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-xs-12" for="shortName">Наименование для пользователей и на постер:</label>
                                        <div class="col-md-8 col-xs-12">
                                            <input type="text" class="form-control" name="shortName" id="shortName" value="@Model.lesson.shortName" onkeypress="schetchik_of_changes();">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-xs-12" for="musicName">Трек:</label>
                                        <div class="col-md-8 col-xs-12">
                                            <input type="text" class="form-control" name="musicName" id="musicName" value="@Model.lesson.musicName" onkeypress="schetchik_of_changes();">
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-xs-12">Уровень:</label>
                                        <div class="col-md-8 col-xs-12">

                                            @foreach (Level level in Model.levels)
                                            {
                                                <div class="checkbox block">
                                                    <label>
                                                        <input type="checkbox" class="level-input" value="@level.Id" @(Model.lesson.levels.Contains(level) ? "checked" : "") /> @level.Name
                                                    </label>
                                                </div>

                                            }
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-xs-12" for="idOfLessonType">Вид урока:</label>
                                        <div class="col-md-8 col-xs-12">
                                            <select class="form-control" name="idOfLessonType">
                                                <option value="0">Не выбрано</option>
                                                @foreach (var lessonType in Model.lessonTypes)
                                                {
                                                    <option value="@lessonType.id" @(Model.lesson.lessonType == lessonType ? "selected" : "")>
                                                        @lessonType.id - @lessonType.name
                                                    </option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-xs-12" for="idOfStyle">Стиль:</label>
                                        <div class="col-md-8 col-xs-12">
                                            <select class="form-control" name="idOfStyle">
                                                <option value="0">Не выбрано</option>
                                                @foreach (var style in Model.styles)
                                                {
                                                    <option value="@style.id" @(Model.lesson.style == style ? "selected" : "")>
                                                        @style.id - @style.name
                                                    </option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-xs-12" for="idOfTeacher">Преподаватель:</label>
                                        <div class="col-md-8 col-xs-12">
                                            <select class="form-control" name="idOfTeacher">
                                                <option value="0">Не выбрано</option>
                                                @foreach (var teacher in Model.teachers)
                                                {
                                                    <option value="@teacher.id" @(Model.lesson.teacher == teacher ? "selected" : "")>
                                                        @teacher.id - @teacher.name
                                                    </option>
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-xs-12" for="idOfVideo">Видео:</label>
                                        <div class="col-md-8 col-xs-12">
                                            <select class="form-control" name="idOfVideo">
                                                <option value="0">Не выбрано</option>
                                                @foreach (VideoOptionNameDurationViewModel video in Model.videos as List<VideoOptionNameDurationViewModel>)
                                                {
                                                    <option value="@video.id" @(Model.lesson.video != null ? Model.lesson.video.id == video.id ? "selected" : "" : "")>
                                                        @video.id - @video.name (@video.durationStr)
                                                    </option>
                                                }
                                            </select>
                                        </div>
                                    </div>


                                    <hr />


                                    <div class="form-group">
                                        <div class="col-lg-6 col-md-6 col-xs-6">

                                            @if (Model.lesson.videoApiStatusViewModel != null)
                                            {
                                                @if (Model.lesson.videoApiStatusViewModel.status == "success")
                                                {
                                                    @if (Model.lesson.videoApiStatusViewModel.isContentExist == 1)
                                                    {

                                                        <div class="player-preview">

                                                            <video id=video-player-js class="video-js vjs-default-skin vjs-16-9" controls>
                                                                <source src="@Model.lesson.videoApiStatusViewModel.src" type="application/x-mpegURL">

                                                            </video>

                                                            <link href="/video-js-hls/video.js/dist/video-js.css" rel="stylesheet" type="text/css">
                                                            <script src="/video-js-hls/video.js/dist/video.js"></script>
                                                            <script src="/video-js-hls/videojs-contrib-hls/dist/videojs-contrib-hls.js"></script>
                                                            <script>
                                                                var player = videojs('video-player-js');
                                                            </script>
                                                        </div>
                                                    }
                                                }
                                            }
                                        </div>
                                    </div>


                                    <hr />



                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-xs-12" for="isFree">Бесплатен?</label>
                                        <div class="col-md-8 col-xs-12">
                                            <select class="form-control" name="isFree">
                                                <option value="0" @(Model.lesson.isFree == 0 ? "selected" : "") ;>Нет</option>
                                                <option value="1" @(Model.lesson.isFree == 1 ? "selected" : "") ;>Да</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-xs-12" for="price">Стоимость, если платный доступ:</label>
                                        <div class="col-md-8 col-xs-12">
                                            <input type="number" class="form-control" name="price" id="price" value="@Model.lesson.price" onkeypress="schetchik_of_changes();">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-xs-12" for="days">Дней доступа при оплате только урока:</label>
                                        <div class="col-md-8 col-xs-12">
                                            <input type="number" class="form-control" name="days" id="days" value="@Model.lesson.days" onkeypress="schetchik_of_changes();">
                                        </div>
                                        <span class="help-block">Укажите 0, чтобы доступ был безлимитным</span>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-xs-12" for="active">Статус доступа</label>
                                        <div class="col-md-8 col-xs-12">
                                            <select class="form-control" name="active">
                                                <option value="0" @(Model.lesson.active == 0 ? "selected" : "") ;>Недоступен</option>
                                                <option value="1" @(Model.lesson.active == 1 ? "selected" : "") ;>Доступен для посещения</option>
                                                <option value="2" @(Model.lesson.active == 2 ? "selected" : "") ;>Приватный, только через программы</option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-xs-12" for="active">Отображать пользователям?</label>
                                        <div class="col-md-8 col-xs-12">
                                            <select class="form-control" name="isVisible">
                                                <option value="0" @(Model.lesson.isVisible == 0 ? "selected" : "") ;>Нет</option>
                                                <option value="1" @(Model.lesson.isVisible == 1 ? "selected" : "") ;>Да</option>
                                            </select>
                                        </div>
                                    </div>


                                    <hr />

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-xs-12">Постер</label>
                                        <span class="help-block">При его отсутствии будет отображаться постер из видео</span>
                                        <div class="col-md-8 col-xs-12">
                                            @if (Model.lesson.posterSrc != null)
                                            {
                                                <img src="@Model.lesson.posterSrc" class="img-responsive" />
                                                <button class="btn btn-danger" type="button" onclick="isDeletePoster = 1;save()">
                                                    Удалить
                                                </button>
                                            }
                                            <input type="file" class="form-control" name="posterFile" accept="image/*" />
                                        </div>
                                    </div>


                                </form>

                            </div><!-- media -->
                            <!--
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">Описание</h4>
                                    </div>
                                    <div class="panel-body">
                                        <textarea id="ckeditor" placeholder="Enter text here..." class="form-control" rows="100">

                                        </textarea>
                                    </div>
                                </div>
                            -->


                            <p class="btn-save-right">
                                <button class="btn btn-success" onclick="save();">Сохранить</button>
                            </p>


                            <script>
                                var isDeleteTeaser = 0;
                                var isDeletePoster = 0;
                                function save() {
                                    var form = new FormData(document.getElementById("formLesson"));
                                    //form.append("description", CKEDITOR.instances.ckeditor.getData());
                                    form.append("isDeletePoster", isDeletePoster);
                                    form.append("isDeleteTeaser", isDeleteTeaser);

                                    var levels = [];
                                    var levelAllInputs = document.getElementById("formLesson").getElementsByClassName("level-input");
                                    for (var i = 0; i < levelAllInputs.length; i++) {
                                        if (levelAllInputs[i].checked) levels.push(levelAllInputs[i].value);
                                    }
                                    form.set("levels", levels);


                                    $.ajax({
                                        method: 'POST',
                                        type: "POST",
                                        url:  "/api/lesson/update",
                                        data: form,
                                        cashe: false,
                                        processData: false,
                                        contentType: false,
                                        beforeSend: function (xhr) {
                                            xhr.setRequestHeader('@tokenSet.HeaderName', '@tokenSet.RequestToken');
                                        },
                                        error:function(){
                                            alert("Ошибка соединения с сервером");
                                        },
                                        success: function(html)
                                        {
                                            if (html["status"] == "success") {
                                                window.location.reload();
                                                //showAlertSuccess();
                                            }
                                        }
                                    });
                                }
                            </script>

                        </div><!-- activity-list -->


                    </div><!-- tab-pane -->


                </div><!-- tab-content -->

            </div><!-- col-sm-9 -->
        </div><!-- row -->


    </div>
</div>


<script src="~/admin/js/jquery-1.11.1.min.js"></script>
<script src="~/admin/js/jquery-migrate-1.2.1.min.js"></script>
<script src="~/admin/js/jquery-ui-1.10.3.min.js"></script>
<script src="~/admin/js/bootstrap.min.js"></script>
<script src="~/admin/js/modernizr.min.js"></script>
<script src="~/admin/js/pace.min.js"></script>
<script src="~/admin/js/retina.min.js"></script>
<script src="~/admin/js/jquery.cookies.js"></script>
<script src="~/admin/js/wysihtml5-0.3.0.min.js"></script>
<script src="~/admin/js/bootstrap-wysihtml5.js"></script>
<script src="~/admin/js/ckeditor/ckeditor.js"></script>
<script src="~/admin/js/ckeditor/adapters/jquery.js"></script>

<script src="~/admin/js/custom.js"></script>
<script>
    jQuery(document).ready(function () {

        // CKEditor
        //jQuery('#ckeditor').ckeditor();

    });
</script>