@using STG.ViewModels;;

@model EnumStylesViewModel;

@{
    ViewData["Title"] = "Стили";
    @using Microsoft.AspNetCore.Antiforgery;
    @inject IAntiforgery antiforgery
    var tokenSet = antiforgery.GetAndStoreTokens(Context);
}


<div >
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-list"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href=""><i class="glyphicon glyphicon-list"></i></a></li>
                    <li>Стили</li>
                </ul>
                <h4>Стили</h4>
            </div>
        </div><!-- media -->
    </div><!-- pageheader -->

    <br />

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">


                <div class="col-md-6">
                    <button class="btn btn-default" data-toggle="modal" data-target="#modal_add">Добавить</button>
                </div>

                <div class="modal fade" id="modal_add" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                                <h4 class="modal-title">Добавить новый стиль</h4>
                            </div>
                            <div class="modal-body">
                                <div class="panel panel-default">
                                    <form id="formNewStyle">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label" for="name">Наименование <span class="asterisk">*</span></label>
                                                    <div class="col-sm-9">
                                                        <input type="text" maxlength="256" name="name" class="form-control" placeholder="Наименование" required id="name_of_new_style" onkeypress="function_for_input_for_name_of_new_style();" />
                                                        <span style="color:red;" id="warningAdd"></span>
                                                    </div>
                                                </div>
                                            </div><!-- row -->
                                        </div><!-- panel-body -->
                                        <div class="panel-footer">
                                            <div class="row">
                                                <div class="col-sm-9 col-sm-offset-3">
                                                    <button class="btn btn-primary mr5" onclick="create(this);">Создать</button>
                                                    <button type="reset" class="btn btn-dark" onclick="clear_form_modal_of_create_new_style();">Сбросить</button>
                                                    <button class="btn btn-danger mr5" id="btn_for_close_in_modal_of_create_new_style" data-dismiss="modal">Закрыть</button>
                                                </div>
                                            </div>
                                        </div><!-- panel-footer -->
                                    </form>
                                </div><!-- panel -->
                            </div>
                        </div>
                    </div>

                </div>




                <script>
                    function create(btn) {
                        var form = new FormData(document.getElementById("formNewStyle"));
                        btnAddEndabled(btn, true);

                        if (form.get("name") == "") {
                            document.getElementById("warningAdd").innerHTML = "Поле 'Наименование' обязательно";
                            btnAddEndabled(btn, false);
                        } else {
                            $.ajax({
                                method: 'POST',
                                type: "POST",
                                url:  "/api/style/add",
                                data: form,
                                cashe: false,
                                processData: false,
                                contentType: false,
                                beforeSend: function (xhr) {
                                    xhr.setRequestHeader('@tokenSet.HeaderName', '@tokenSet.RequestToken');
                                },
                                error:function(){
                                    $("#warningAdd").html("Ошибка соединения с сервером");
                                    btnAddEndabled(btn, false);
                                },
                                success: function(html)
                                {
                                    if (html["status"] == "success") {
                                        location.reload();
                                    } else {
                                        $("#warningAdd").html("Извините, на сервере произошла неизвестная ошибка");
                                        btnAddEndabled(btn, false);
                                    }
                                }
                            });

                        }
                    }
                    function btnAddEndabled(btn, v) {
                        v ? btn.disabled = true : btn.disabled = false;
                    }

                    function clear_form_modal_of_create_new_style() {
                        document.getElementById("name_of_new_style").value = "";
                        document.getElementById("warningAdd").innerHTML = "";

                    }

                    function function_for_input_for_name_of_new_style() {
                        document.getElementById("warningAdd").innerHTML = "";
                    }
                </script>


                <div class="modal fade" style="padding-top:20%;" id="modal_delete" tabindex="-1" role="dialog">
                    <div class="modal-dialog" style="width: 50%;">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #ffffff">
                                <button class="close" type="button" data-dismiss="modal">&times;</button>
                                <h4 align="left" class="modal-title" style="padding-left: 1em"> Вы уверены, что хотите удалить стиль?</h4>
                            </div>
                            <div class="modal-body">

                                <center>
                                    <button type="button" class="btn btn-success" data-dismiss="modal" data-target="" onclick="deleteStyle();">Да</button>

                                    <button type="button" class="btn btn-danger" data-dismiss="modal" data-target="">Нет</button>
                                </center>
                            </div>

                        </div>
                    </div>
                </div>


                <script>
                    var idOfstyle = 0;
                    function deleteStyle() {
                        if (idOfstyle != 0) {
                            var form = new FormData();
                            form.append("id", idOfstyle);

                            $.ajax({
                                method: 'POST',
                                type: "POST",
                                url:  "/api/style/delete",
                                data: form,
                                cashe: false,
                                processData: false,
                                contentType: false,
                                beforeSend: function (xhr) {
                                    xhr.setRequestHeader('@tokenSet.HeaderName', '@tokenSet.RequestToken');
                                },
                                error:function(){
                                    alert("Ошибка соединения с сервером");
                                },
                                success: function(html)
                                {
                                    location.reload();
                                }
                            });
                        } else {
                            alert("Не указан id преподавателя");
                        }
                    }
                </script>


                <div class="col-md-6">
                    <p align="right"><button class="btn btn-success btn-rounded" onclick="location.reload();">Обновить страницу</button></p>
                </div>

                <div class="col-md-12" id="div_for_list_of_styles">

                    @if (!@Model.styles.Any())
                    {
                        <p class="warningNotFound">Стилей не найдено</p>
                    }
                    else
                    {

                        <table class="table bootstrap-datatable datatable small-font" border="1">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Наименование</th>
                                    <th>Отображать?</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var style in @Model.styles)
                                {
                                    <tr>
                                        <td>@style.id</td>
                                        <td>@style.name</td>
                                        <td>
                                            @if (style.active == 1)
                                            {
                                                <font class="status-granted">Да</font>
                                            }
                                            else
                                            {
                                                <font class="status-denied">Нет</font>
                                            }
                                        </td>
                                        <td>
                                            <a href="#">
                                                <i class="fa fa-pencil" onclick="get(@style.id)"></i>
                                            </a>
                                            <a href="#" onclick="idOfstyle = '@style.id';" data-toggle="modal" data-target="#modal_delete" style="color:red;">
                                                <i class="fa fa-ban"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    }


                </div>




                <script>
                    function get(id) {
                        var form = new FormData();
                        form.append("id", id);
                        idOfstyle = id;

                        $.ajax({
                            method: 'POST',
                            type: "POST",
                            url:  "/api/style/get",
                            data: form,
                            cashe: false,
                            processData: false,
                            contentType: false,
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader('@tokenSet.HeaderName', '@tokenSet.RequestToken');
                            },
                            error:function(){
                                alert("Ошибка соединения с сервером");
                            },
                            success: function(html)
                            {
                                if (html["status"] == "success") {
                                    $("#name_of_style").val(html["style"]["name"]);
                                    $("#short_description_of_style").val(html["style"]["shortDescription"]);
                                    $("#active_of_style").val(html["style"]["active"]);
                                    $("#modal_get").modal('show');
                                } else {
                                    alert("Неизвестная ошибка на сервере");
                                }
                            }
                        });
                    }
                </script>

            </div><!-- table-responsive -->


        </div><!-- col-md-12 -->



    </div><!-- row -->


</div>

<div class="modal fade" id="modal_get" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                <h4 class="modal-title">Редактирование стиля</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <form id="formGetStyle">
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="name">Наименование <span class="asterisk">*</span></label>
                                    <div class="col-sm-9">
                                        <input type="text" maxlength="256" name="name" class="form-control" placeholder="Наименование" required id="name_of_style" onkeypress="function_for_input_for_name_of_new_style();" />
                                        <span style="color:red;" id="warningAdd"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="active">Отображать пользователям?</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" name="active" id="active_of_style">
                                            <option value="0">Нет</option>
                                            <option value="1">Да</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="name">Краткое описание</label>
                                    <div class="col-sm-9">
                                        <input type="text" maxlength="5000" name="shortDescription" class="form-control" id="short_description_of_style" placeholder="Краткое описание" />
                                    </div>
                                </div>
                            </div><!-- row -->
                        </div><!-- panel-body -->
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-sm-9 col-sm-offset-3">
                                    <button type="button" class="btn btn-success mr5" onclick="save();">Сохранить</button>
                                    <button type="button" class="btn btn-danger mr5" data-dismiss="modal">Закрыть</button>
                                </div>
                            </div>
                        </div><!-- panel-footer -->
                    </form>
                </div><!-- panel -->
            </div>
        </div>
    </div>

</div>

<script>
    function save(){
        var form = new FormData(document.getElementById("formGetStyle"));
        form.append("id", idOfstyle);

        $.ajax({
            method: 'POST',
            type: "POST",
            url:  "/api/style/update",
            data: form,
            cashe: false,
            processData: false,
            contentType: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader('@tokenSet.HeaderName', '@tokenSet.RequestToken');
            },
            error:function(){
                alert("Ошибка соединения с сервером");
            },
            success: function(html)
            {
                if (html["status"] == "success") {
                    window.location.reload();
                }
            }
        });
    }
</script>